@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  padding: 0;
  margin: 0;
}
#sidebarToggle {
  position: absolute;
  z-index: 6;
}
#mobile {
  position: absolute;
  width: 80%;
  height: 95%;
  background-color: rgba(128, 128, 128, 0.534);
  z-index: 1;
  margin: 2% 0 0 10%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  visibility: hidden;
}
#mobile h1 {
  margin-top: 10%;
}
#mobile button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}
#sidebar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.164);
  width: 20%;
  height: 100%;
  text-align: center;
}
#extraPopup {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  background-color: rgb(235, 235, 235);
  z-index: 2;
  margin-top: 10ch;
  width: 75%;
  height: 75%;
  visibility: hidden;
}
#extraPopup button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}
#extraPopup div span {
  padding: 0.7vw;
  width: 4vw;
  height: 2vw;
  border-radius: 5px;
  font-weight: bold;
  user-select: none;
}
/* background-color: red; */
.critical {
  background-color: rgb(204, 39, 39);
}
.critical:hover {
  background-color: red;
}
/* background-color: rgb(136, 202, 204); */
.important {
  background-color: rgb(106, 155, 156);
}
.important:hover {
  background-color: rgb(136, 202, 204);
}
/* background-color: rgb(231, 16, 16); */
.due {
  background-color: rgb(190, 39, 39);
}
.due:hover {
  background-color: rgb(231, 16, 16);
}
/* background-color: rgb(120, 160, 41); */
.due-soon {
  background-color: rgb(90, 119, 31);
}
.due-soon:hover {
  background-color: rgb(120, 160, 41);
}
#popup {
  position: absolute;
  width: 80%;
  height: 95%;
  /* background-color: rgba(128, 128, 128, 0.534); */
  background-color: rgb(153 153 153 / 70%);
  z-index: 1;
  margin: 2% 0 0 10%;
  display: grid;
  visibility: hidden;
  grid-template-areas: 'colors colorstwo features fonts';
}
#popup > * {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}
#popup button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}
#popup div:nth-child(1) {
  grid-area: colors;
}
#popup div:nth-child(2) {
  grid-area: colorstwo;
}
#popup div:nth-child(3) {
  grid-area: features;
}
#popup div:nth-child(4) {
  grid-area: fonts;
}
@media only screen and (max-width: 760px) {
  #popup {
    margin: 2% 0 0 1%;
    width: 100%;
    height: 150%;
  }
  #popup div:nth-child(3) > * {
    width: 12vw;
  }
  #popup div:nth-child(4) {
    margin-left: 60px;
  }
}
#topbar {
  /* background-color: rgb(12, 119, 12); */
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  gap: 2vw;
}
#topbar > button {
  font-size: 2ch;
}
#streak {
  margin-left: 40px;
}
#allpanes {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 2vw;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.pane {
  background-color: rgb(192, 192, 192);
  /* padding: 2vw;
  padding-left: 1vw; */
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 2vw;
  padding-bottom: 2vw;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: 2px;
  width: 14ch;
  height: 15ch;
  scrollbar-width: thin;
  scrollbar-color: rgba(211, 211, 211, 0.404) rgba(255, 255, 255, 0), 0);
  background-size: cover;
  background-repeat: no-repeat;
}
.pane > * {
  position: relative;
  z-index: 1;
}
.pane > div {
  background-size: cover;
  background-repeat: no-repeat;
}
/* Margin is in addPane() */
.title {
  margin-left: auto;
  margin-right: -20px;
  font-size: 2.1ch;
  font-weight: 500;
}
.description {
  margin-left: 1vw;
  font-size: 2ch;
}
/* Not working */
/* .pane pre:nth-child(3) {
  margin-top: 1vw;
  margin-bottom: 1vw;
} */
.pane button {
  margin-top: 2vw;
}
.newp {
  font-family: 'Open Sans', sans-serif;
}
.button {
  position: relative;
  left: 4vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}
.button2 {
  position: relative;
  left: 4vw;
  background-color: rgb(28, 49, 119);
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}
.button3 {
  position: relative;
  left: 4vw;
  background-color: rgb(197, 197, 197);
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}
#data {
  background-color: rgba(128, 128, 128, 0.534);
  padding: 1vw;
  position: fixed;
  width: 100%;
  top: calc(82.5% - 3.8em);
  height: 15%;
}
#enable {
  background-color: green;
}
#disable {
  background-color: red;
}
#dropdown {
  position: relative;
  display: inline-block;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.534);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 12px;
  z-index: 1;
}
#dropdown-content > * {
  padding: 1vw;
  background-color: rgb(192 192 192);
}
#dropdown-content > *:hover {
  background-color: green;
  cursor: pointer;
}
@keyframes change {
  from {opacity: 0;}
  to {opacity: 1;}
}
#dropdown:hover #dropdown-content {
  animation-name: change;
  animation-duration: 0.4s;
  display: block;
}
#data {
  display: none;
}
#copy {
  background-color: black;
  padding: 0.5vw;
  color: white;
  position: absolute;
  width: 8ch;
  margin-top: -3.3ch;
  margin-right: 8ch;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  right: -6.3ch;
}
p:hover #copy {
  visibility: visible;
  opacity: 1;
}
