@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Credits to https://stackoverflow.com/questions/45359812/css-circle-progress-bar */

svg {
  /* transform: rotate(-90deg); */
  stroke-dasharray: 251; /* (2PI * 40px) */
  stroke-dashoffset: 251;
  animation: offsettozero 2s ease-in-out forwards;
  transition: 1s;
}

svg text {
  font: 20px serif;
  transform: none;
}

@keyframes offsettozero {
  to {
    stroke-dashoffset: 0;
    margin-left: 56%;
    margin-top: 15%;
    transform: scale(3);
  }
}

#daily h1 {
  font-family: Arial, Helvetica, sans-serif !important;
}

#progress h1 {
  transform: translate(20%, 200%);
  z-index: 5;
}

#sidebarToggle {
  position: absolute;
  z-index: 6;
}

button {
  border: solid #7d7d7d9e 2px !important;
}

button:hover {
  border: solid rgba(114, 114, 114, 0.426) 2px !important;
  mix-blend-mode: normal !important;
  background-color: rgba(128, 128, 128, 0.398) !important;
}

button:active {
  border: solid rgb(115, 105, 105) 2px !important;
  transform: skewX(-2deg);
}

select {
  border: solid rgb(114, 114, 114) 2px;
  font-family: 'Open Sans', sans-serif;
}

select > * {
  background-color: rgba(141, 141, 141, 0.139);
}

input[type="color"] {
  border: solid rgba(114, 114, 114, 0.2) 2px !important;
  background-color: rgba(114, 114, 114, 0.509);
}

input[type="text"] {
  border: solid rgba(114, 114, 114) 10px !important;
  font-family: 'Open Sans', sans-serif;
}

input[type="number"] {
  border: solid rgba(114, 114, 114) 2px !important;
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
  border: solid rgba(114, 114, 114) 2px !important;
  font-family: 'Open Sans', sans-serif;
}

#mobile {
  position: absolute;
  width: 80%;
  height: 95%;
  background-color: rgba(128, 128, 128, 0.534);
  z-index: 3;
  margin: 2% 0 0 10%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  visibility: hidden;
}

#mobile h1 {
  margin-top: 10%;
}

#mobile button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}

#daily {
  position: absolute;
  width: 80%;
  height: 95%;
  background-color: rgb(132, 157, 132);
  z-index: 3;
  margin: 2% 0 0 10%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  visibility: hidden;
}

#daily button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}

.paneToggled {
  background-image: url("assets/drawing-11.svg");
  background-size: cover;
}

#firefox {
  position: absolute;
  width: 80%;
  height: 95%;
  background-color: rgba(128, 128, 128, 0.534);
  z-index: 2;
  margin: 2% 0 0 10%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  visibility: hidden;
}

#firefox h1 {
  margin-top: 10%;
}

#firefox button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}

#sidebar {
  position: absolute;
  background-color: rgba(80, 80, 80, 0.059);
  left: -35.5vw;
  width: 20%;
  height: 100%;
  text-align: center;
  z-index: 2;
}

#extraPopup {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  background-color: rgba(153, 153, 153, 0.746);
  z-index: 2;
  margin-top: 10ch;
  width: 75%;
  height: 75%;
  visibility: hidden;
}

#extraPopup button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}

#extraPopup input {
  display: none;
}

#extraPopup input:checked+label {
  font-weight: 900;
}

#extraPopup label {
  font-size: 3ch;
  padding: 4px 11px;
  display: inline-block;
  cursor: pointer;
}

/* background-color: red; */
.noneC {
  background-color: rgb(169, 175, 181) !important;
}

.noneC:hover {
  background-color: rgb(206, 214, 221) !important;
}

.criticalC {
  background-color: rgb(255, 0, 0) !important;
}

.criticalC:hover {
  background-color: rgb(199, 48, 48) !important;
}

/* background-color: rgb(136, 202, 204); */
.importantC {
  background-color: rgb(0, 251, 255) !important;
}

.importantC:hover {
  background-color: rgb(136, 202, 204) !important;
}

/* background-color: rgb(231, 16, 16); */
.dueC {
  background-color: rgb(135, 8, 8) !important;
}

.dueC:hover {
  background-color: rgb(107, 22, 22) !important;
}

/* background-color: rgb(120, 160, 41); */
.due-soonC {
  background-color: rgb(119, 172, 12) !important;
}

.due-soonC:hover {
  background-color: rgb(81, 109, 25) !important;
}

/* In popup class to make smaller widths longer is longerInput */
#popup {
  position: absolute;
  width: 80%;
  height: 95%;
  /* background-color: rgba(128, 128, 128, 0.534); */
  background-color: rgba(153, 153, 153, 0.746);
  z-index: 1;
  margin: 2% 0 0 10%;
  display: grid;
  visibility: hidden;
  grid-template-areas: 'colors colorstwo features fonts';
}

#popup>* {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

#popup select {
  width: calc(5ch + 1vw);
}

#popup input {
  width: calc(5ch + 1.4vw);
}

.longerInput {
  width: calc(5ch + 4.1vw) !important;
  color: red;
}

#popup button:nth-child(1) {
  position: absolute;
  left: 70vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
  margin-top: 20px;
}

#popup div:nth-child(1) {
  grid-area: colors;
}

#popup div:nth-child(2) {
  grid-area: colorstwo;
}

#popup div:nth-child(3) {
  grid-area: features;
}

#popup div:nth-child(4) {
  grid-area: fonts;
}

@media only screen and (max-width: 760px) {
  #popup {
    margin: 2% 0 0 1%;
    width: 100%;
    height: 150%;
  }

  #popup div:nth-child(3)>* {
    width: 12vw;
  }

  #popup div:nth-child(4) {
    margin-left: 60px;
  }
}

#topbar {
  /* background-color: rgb(12, 119, 12); */
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  gap: 2vw;
  opacity: 0.9;
  z-index: 10;
}

#topbar button {
  font-size: 2ch;
  /* background: rgba(166, 166, 166, 0); */
  border: rgba(128, 128, 128, 0);
  /* mix-blend-mode: hard-light; */
  mix-blend-mode: normal !important;
}

#topbar button:hover {
  font-size: 2ch;
}

#topbar h1 {
  mix-blend-mode: hard-light;
}

#streak {
  margin-left: 40px;
}

#allpanes {
  gap: 2vw;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.pane {
  background-color: rgb(192, 192, 192);
  border: solid rgba(128, 128, 128, 0.463) 2px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 2vw;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: 2px;
  width: 14ch;
  height: 15ch;
  mix-blend-mode: darken !important;
  scrollbar-width: thin;
  scrollbar-color: rgba(211, 211, 211, 0.404) rgba(255, 255, 255, 0), 0);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  backdrop-filter: blur(30px);
  z-index: 0; 
}

.pane:hover {
  mix-blend-mode: normal !important;
  opacity: 0.9;
}

.pane>* {
  position: relative;
}

.pane>div {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Margin is in addPane() */
.title {
  margin-left: auto;
  /* margin-right: -20px; */
  font-size: 2.ch;
  font-weight: 500;
}

.description {
  margin-left: 1vw;
  font-size: 2ch;
  text-align: center;
  width: 100px;
}

.pane button {
  margin-top: 2vw;
}

.newp {
  font-family: 'Open Sans', sans-serif;
}

.button {
  position: relative;
  left: 1vw;
  background-color: red;
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}

.button2 {
  position: relative;
  left: 4vw;
  background-color: rgb(28, 49, 119);
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}

.button3 {
  position: relative;
  left: 1vw;
  background-color: rgb(197, 197, 197);
  border: 2px 2px 2px 2px white;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.411);
}

#data {
  background-color: rgba(128, 128, 128, 0.534);
  padding: 1vw;
  position: fixed;
  width: 100%;
  top: calc(82.5% - 3.8em);
  height: 15%;
}

#enable {
  background-color: green;
}

#disable {
  background-color: red;
}

#dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

#dropdown button {
  font-size: 2ch;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.534);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  z-index: 10;
}

#dropdown-content>* {
  padding: 1vw;
  background-color: rgb(192 192 192);
  z-index: 10;
}

#dropdown-content>*:hover {
  background-color: green;
  cursor: pointer;
}

@keyframes change {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#dropdown:hover #dropdown-content {
  animation-name: change;
  animation-duration: 0.4s;
  display: block;
}

#data {
  display: none;
}

#copy {
  background-color: black;
  padding: 0.5vw;
  color: white;
  position: absolute;
  width: 8ch;
  margin-top: -3.3ch;
  margin-right: 8ch;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  right: -6.3ch;
}

p:hover #copy {
  visibility: visible;
  opacity: 1;
}